<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atlassian Code Challenge</title>
        <meta name="description" content="Atlassian Code Challenge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app-container"></div>

        <script src="/{%= o.htmlWebpackPlugin.options.scriptFilename %}"></script>
    </body>
</html>
